body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
.top-container{
  width:100%;
  background-color: #E4F9F5;
  position:relative;
  padding-top: 100px;
}
.middle-container{

}
.bottom-container{
  background-color: #66BFBF;
  padding:100px 0;
}

.logo-border{
    border-radius: 20%;
    padding-top: 20px;
}
.img-border-comp{
  border-radius: 100%;
  width: 25%;
  float: left;
  margin-right: 30px;
}
.img-border-chilli{
  width: 25%;
  float: right;
  margin-left: 30px;
}
h1{
  color: #66BFBF;
  font-size: 5.625rem;
  margin:50px auto 0 auto;
  font-family: 'Sacramento', sans-serif;
}
h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight:normal;
}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
.pro{
  text-decoration: underline;
}
.top-cloud{
  position: absolute;
  right:300px;
  top:50px;
}
.bottom-cloud{
  position:absolute;
  left:300px;
  bottom:300px;
}
.btn{
  display:block;
  margin:40px auto 40px auto;
  color: #EAF6F6;
  width:15%;
  height:26px;
  padding: 12px 8px 8px;
  text-decoration: none;
  border-radius: 50%;
  background-color: #66BFBF;

}
.footer-link{
  color: #11999E;
  padding: 0 20px;
  text-decoration: none;
}
.skill-row{
  width:50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}
.copyright{
  margin: 0;
  padding-top:  30px ;
  color: #EAF6F6;
}
.dotted-hr{
  border-style: dotted none none none;
  border-color: grey;
  width:10%;
  border-width: 5px;

}
